.App {
  /* text-align: center; */
}
.App-container , #userList{
  width:80%;
  margin:0 auto;
}
header{
   text-align: center; 
}
 #form{
  width:50%;
  margin:0 auto;
} 
#userList, .apiList{
  margin-top:40px;
}
.card-text li{
list-style: none;
}
.apiInfo{
  padding:30px;
}

